html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(245, 224, 198);
    font-family: 'Kaushan Script', cursive;
    //padding: 1rem;
    font-size: 24px;
    color: rgb(75, 24, 3);
    transition: 0.3s ease-in;
    position: relative;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.9rem;
    border-bottom: 5px double rgb(75, 24, 3);
    background-color: rgb(235, 201, 158);
    padding: 1rem;

    h1 {
        line-height: 4.2rem;
        text-align: center;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: rgb(235, 201, 158);
    height: 1rem;
    position: fixed;
    bottom: 0;
    font-family: 'Times New Roman';
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
}

.cover {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 225, 187);
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finishScreen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(66, 61, 61, 0.397);

    .scoreMessage {
        background-color: rgb(255, 225, 187);
        padding: 2em 2em;
        font-family: 'Francois One';
        text-align: center;
        border: 6px solid rgb(75, 24, 3);
        border-radius: 10px;
        margin-inline: 5%;

    }

    .again {
        border: 2px solid rgb(75, 24, 3);
        color: rgb(75, 24, 3);
        border-radius: 4px;
        padding: 1em;
        margin-top: 1em;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
    }
}

.animatedRemoval {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.health {
    width: 40%;
    min-width: 200px;
    height: 20px;
    background-color: rgb(117, 94, 65);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-inline: 3px;

    &::before {
        content: "HP";
        position: absolute;
        font-size: 0.925rem;
        font-family: 'Francois One';
        left: 50%;
        transform: translateX(-10px);
        color: rgb(75, 24, 3);
    }

    &__fill {
        height: 14px;
        background-color: rgb(20, 187, 20);
        width: 100%;
        border-radius: 7px;
        transition: 0.2s ease-in;
    }
}

.word {
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-family: 'Merriweather';
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.animatedOutcome {
    animation: 1.5s outcome;
    animation-fill-mode: forwards;
}

@keyframes outcome {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__row {
        margin-block: 0.6rem;
    }

    &__button {
        padding: 0.7rem;
        font-family: 'Francois One';
        font-size: 1rem;
        border: 2px solid rgb(75, 24, 3);
        color: rgb(75, 24, 3);
        border-radius: 4px;
        background-color: rgb(241, 234, 225);

        &:hover {
            background-color: rgb(250, 218, 178);
            cursor: pointer;
        }
    }
}


@media screen and (max-width: 740px){
    html {
        font-size: 12px;
    }
    header {
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }
    .health {
        width: 80%;
    }
}

@media screen and (max-width: 400px){
    html {
        font-size: 10px;
    }
    header {
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }
    .health {
        width: 80%;
    }
}